In this notebook, I have tried to clean the data and use external descriptors. 
In EDA_2, the data is explored through graphical representation.

In [1]:
print("test")

test

In [2]:
import pandas as pd

In [4]:
df1 = pd.read_csv("DENV2_PubChem_database_AID_651640_datatable.csv", low_memory = False)

In [5]:
df1.head(10)

,PUBCHEM_RESULT_TAG,PUBCHEM_SID,PUBCHEM_CID,PUBCHEM_EXT_DATASOURCE_SMILES,PUBCHEM_ACTIVITY_OUTCOME,PUBCHEM_ACTIVITY_SCORE,PUBCHEM_ACTIVITY_URL,PUBCHEM_ASSAYDATA_COMMENT,REPRODUCIBILITY_COSINE_TRANSFORM,PCT_ACTIVE_REPLICATES,REPLICATE_A_ACTIVITY_SCORE_9.99uM_(%),REPLICATE_B_ACTIVITY_SCORE_9.99uM_(%)
0,RESULT_TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FLOAT,FLOAT,FLOAT,FLOAT
1,RESULT_DESCR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A measure of how well the activity reproduced ...,The percentage of replicates which pass the ac...,The calculated activity for the indicated sample,The calculated activity for the indicated sample
2,RESULT_UNIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NONE,NONE,PERCENT,PERCENT
3,RESULT_ATTR_CONC_MICROMOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.99,9.99
4,1,85801174.0,44494366.0,C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...,Inconclusive,24.0,NaN,NaN,0.7846,50,5.067,43.249
5,2,85809444.0,44502369.0,C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=C...,Inactive,1.0,NaN,NaN,0.1917,0,7.336,-4.938
6,3,85803164.0,44496302.0,C[C@@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=...,Inactive,10.0,NaN,NaN,0.7343,0,19.668,0.773
7,4,85808431.0,44501367.0,C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...,Inactive,-5.0,NaN,NaN,0.9991,0,-6.191,-5.686
8,5,85804050.0,44497171.0,C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...,Inactive,1.0,NaN,NaN,0.3323,0,-3.347,6.99
9,6,85811015.0,44503925.0,C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...,Inactive,2.0,NaN,NaN,0.9412,0,3.369,1.59

In [6]:
print(df1["PUBCHEM_EXT_DATASOURCE_SMILES"][:20])

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4     C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...
5     C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=C...
6     C[C@@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=...
7     C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...
8     C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...
9     C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...
10    C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...
11    C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=C...
12    C[C@@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=...
13    C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...
14    C[C@@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=...
15    C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=C...
16    C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...
17    C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=C...
18    C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...
19    C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...
Name: PUBCHEM_EXT_DATASOURCE_SMILES, dtype: object

In [7]:
df2 = df1[['PUBCHEM_SID', 'PUBCHEM_CID', 'PUBCHEM_EXT_DATASOURCE_SMILES', 'PUBCHEM_ACTIVITY_OUTCOME']]

In [8]:
df2.head()

,PUBCHEM_SID,PUBCHEM_CID,PUBCHEM_EXT_DATASOURCE_SMILES,PUBCHEM_ACTIVITY_OUTCOME
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,85801174.0,44494366.0,C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...,Inconclusive

In [105]:
df3 = df2.dropna().reset_index(drop=True)
df3.head()

,PUBCHEM_SID,PUBCHEM_CID,PUBCHEM_EXT_DATASOURCE_SMILES,PUBCHEM_ACTIVITY_OUTCOME
0,85801174.0,44494366.0,C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...,Inconclusive
1,85809444.0,44502369.0,C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=C...,Inactive
2,85803164.0,44496302.0,C[C@@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=...,Inactive
3,85808431.0,44501367.0,C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...,Inactive
4,85804050.0,44497171.0,C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...,Inactive

In [106]:
df3 = df3.rename(columns={'PUBCHEM_EXT_DATASOURCE_SMILES': 'SMILES', 'PUBCHEM_ACTIVITY_OUTCOME': 'ACTIVITY'})

In [107]:
df3.head()

,PUBCHEM_SID,PUBCHEM_CID,SMILES,ACTIVITY
0,85801174.0,44494366.0,C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...,Inconclusive
1,85809444.0,44502369.0,C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=C...,Inactive
2,85803164.0,44496302.0,C[C@@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=...,Inactive
3,85808431.0,44501367.0,C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...,Inactive
4,85804050.0,44497171.0,C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...,Inactive

In [12]:
count = df3['ACTIVITY'].value_counts().get('Inconclusive', 0)

In [13]:
print(count)

16339

In [14]:
df3.shape

(347112, 4)

In [116]:
#removing inconclusive molecules as they would not help later on.

df3 = df3[df3['ACTIVITY'] != 'Inconclusive']
df3 = df3.reset_index(drop=True)

In [117]:
df3.shape

(330773, 4)

In [35]:
print(347112-16339)

330773

In [31]:
#checking if I have rdkit installed 
!pip list

Package                Version
---------------------- ---------
brotlipy               0.7.0
cellpose               3.0.8
certifi                2021.10.8
cffi                   1.15.0
charset-normalizer     2.0.4
click                  8.1.3
colorama               0.4.4
conda                  4.12.0
conda-content-trust    0+unknown
conda-package-handling 1.8.1
cryptography           36.0.0
fastremap              1.14.1
filelock               3.14.0
fsspec                 2024.5.0
idna                   3.3
imagecodecs            2024.1.1
isodate                0.6.1
Jinja2                 3.1.4
lazypredict            0.2.7
llvmlite               0.42.0
MarkupSafe             2.1.5
mpmath                 1.3.0
natsort                8.4.0
networkx               3.2.1
numba                  0.59.1
numpy                  1.26.4
opencv-python-headless 3.4.18.65
pip                    21.2.4
pycosat                0.6.3
pycparser              2.21
pyOpenSSL              22.0.0
pyparsing              3.1.1
PySocks                1.7.1
rdflib                 7.0.0
requests               2.27.1
roifile                2024.5.24
ruamel-yaml-conda      0.15.100
scipy                  1.13.1
setuptools             61.2.0
six                    1.16.0
sympy                  1.12
tifffile               2024.5.22
torch                  2.2.2
tqdm                   4.63.0
typing_extensions      4.12.0
urllib3                1.26.8
wheel                  0.37.1

In [32]:
!conda install -c rdkit rdkit -y

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: /
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
                                                                               failed

UnsatisfiableError: The following specifications were found
to be incompatible with the existing python installation in your environment:

Specifications:

  - rdkit -> python[version='2.7.*|3.5.*|3.6.*|>=2.7,<2.8.0a0|>=3.6,<3.7.0a0|>=3.7,<3.8.0a0|>=3.5,<3.6.0a0|3.4.*']

Your python: python=3.9

If python is on the left-most side of the chain, that's the version you've asked for.
When python appears to the right, that indicates that the thing on the left is somehow
not available for the python version you are constrained to. Note that conda will not
change your python version to a different minor version unless you explicitly specify
that.

In [19]:
"""
Lipinski's rule of five, also known as Pfizer's rule of five or simply the rule of five (RO5), is a rule of thumb to evaluate druglikeness or determine if a chemical compound with a certain pharmacological or biological activity has chemical properties and physical properties that would make it a likely orally active drug in humans.

According to this rule,for a compound to work well with ADME(absorption, distribution, metabolism and excretion) properties, 
No more than 5 hydrogen bond donors
No more than 10 hydrogen bond acceptors
Molecular mass less than 500 Da
Partition coefficient not greater than 5

Molecular weight < 500 Dalton
Octoanol-water partition coefficient (LogP) <5
Hydrogen bond donors < 5
Hydrogen bond acceptors < 10

"""

from rdkit import Chem
from rdkit.Chem import Lipinski
from rdkit.Chem import Descriptors

def Mol_wt(smiles, verbose = False):
  data = []
  for elem in smiles:
    mol = Chem.MolFromSmiles(elem)
    data.append(mol)
  
  molwt = []
  for mol in data:
    desc_MolWt = Descriptors.MolWt(mol)
    molwt.append(desc_MolWt)
  
  return molwt

def LogP(smiles, verbose = False):
  data = []
  for elem in smiles:
    mol = Chem.MolFromSmiles(elem)
    data.append(mol)

  logp = []
  for mol in data:
    desc_MolLogP = Descriptors.MolLogP(mol)
    logp.append(desc_MolLogP)
  
  return logp

def Hdonors(smiles, verbose = False):
  data = []
  for i in smiles:
    mol = Chem.MolFromSmiles(i)
    data.append(mol)
  hdonors = []
  for mol in data:
    desc_NumHDonors = Lipinski.NumHDonors(mol)
    hdonors.append(desc_NumHDonors)
  
  return hdonors

def Hacceptors(smiles, verbose = False):
  data = []
  for i in smiles:
    mol = Chem.MolFromSmiles(i)
    data.append(mol)
  hacc = []
  for mol in data:
    desc_NumHAcceptors = Lipinski.NumHAcceptors(mol)
    hacc.append(desc_NumHAcceptors)
  
  return hacc

In [37]:
molwt = Mol_wt(df3.SMILES)

[17:25:57] WARNING: not removing hydrogen atom without neighbors
[17:26:02] WARNING: not removing hydrogen atom without neighbors
[17:26:02] WARNING: not removing hydrogen atom without neighbors
[17:26:05] WARNING: not removing hydrogen atom without neighbors

In [38]:
print(molwt[:5])

[440.5440000000002, 664.8060000000002, 440.5440000000002, 664.8060000000002, 440.5440000000002]

In [39]:
logp = LogP(df3.SMILES)

[17:26:40] WARNING: not removing hydrogen atom without neighbors
[17:26:46] WARNING: not removing hydrogen atom without neighbors
[17:26:46] WARNING: not removing hydrogen atom without neighbors
[17:26:49] WARNING: not removing hydrogen atom without neighbors

In [40]:
hdonors = Hdonors(df3.SMILES)

[17:29:12] WARNING: not removing hydrogen atom without neighbors
[17:29:18] WARNING: not removing hydrogen atom without neighbors
[17:29:18] WARNING: not removing hydrogen atom without neighbors
[17:29:21] WARNING: not removing hydrogen atom without neighbors

In [41]:
hacc = Hacceptors(df3.SMILES)

[17:30:04] WARNING: not removing hydrogen atom without neighbors
[17:30:09] WARNING: not removing hydrogen atom without neighbors
[17:30:09] WARNING: not removing hydrogen atom without neighbors
[17:30:13] WARNING: not removing hydrogen atom without neighbors

In [42]:
print(len(hdonors))

330773

In [96]:
df_lipinski = pd.DataFrame()
df_lipinski["Mol_Wt"] = molwt
df_lipinski["LogP"] = logp
df_lipinski["H_Donors"] = hdonors
df_lipinski["H_acceptors"] =hacc
df_lipinski.head()

    Mol_Wt    LogP  H_Donors  H_acceptors
0  440.544  2.0445         2            6
1  664.806  4.6118         2            9
2  440.544  2.0445         2            6
3  664.806  4.6118         2            9
4  440.544  2.0445         2            6

In [83]:
# Check for any NaN values
has_nan = df_lipinski.isna().any().any()

# Check which columns contain NaN values
nan_columns = df_lipinski.columns[df_lipinski.isna().any()]

# Display a DataFrame with NaN status
nan_info = df_lipinski.isna()

In [101]:
df_lip = df_lipinski.reset_index(drop=True, inplace= True)
df3 = df3.reset_index(drop=True, inplace = True)

In [121]:
df3.shape

(330773, 4)

In [122]:
df4 = pd.concat([df3,df_lipinski], axis =1)

In [124]:
df4

,PUBCHEM_SID,PUBCHEM_CID,SMILES,ACTIVITY,Mol_Wt,LogP,H_Donors,H_acceptors
0,85809444.0,44502369.0,C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=C...,Inactive,440.544,2.04450,2,6
1,85803164.0,44496302.0,C[C@@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=...,Inactive,664.806,4.61180,2,9
2,85808431.0,44501367.0,C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...,Inactive,440.544,2.04450,2,6
3,85804050.0,44497171.0,C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...,Inactive,664.806,4.61180,2,9
4,85811015.0,44503925.0,C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...,Inactive,440.544,2.04450,2,6
...,...,...,...,...,...,...,...,...
330768,49715596.0,24789663.0,CCOC(=O)N1CCN(CC1)C(=O)CNC(=O)C2=NN(C(=O)C3=CC...,Inactive,523.546,1.43340,1,9
330769,49828593.0,6879802.0,CC1=CC=C(O1)/C=N/NC(=O)C2=CC(=NC3=CC=CC=C32)C4...,Inactive,355.397,4.56712,1,4
330770,49726366.0,3188775.0,COC1=CC=C(C=C1)N(C(C2=CC=C(C=C2)O)C(=O)NCC3=CC...,Inactive,549.584,3.38200,4,8
330771,49718992.0,24790595.0,COC1=C(C(=C(C=C1)CN2CCC(CC2)N3C(=CC=N3)NC(=O)C...,Inactive,414.506,3.09450,1,7
330772,47204145.0,2974652.0,CCN1C2=C(C=C(C=C2)NC(=O)C3=CC=CC=C3Cl)N(C1=O)CC,Inactive,343.814,3.74850,1,4

In [50]:
df4.shape

(346460, 8)

In [60]:
df_lipinski.shape

(330773, 4)

In [61]:
df3.shape

(330773, 4)

In [91]:
df4.tail()

,PUBCHEM_SID,PUBCHEM_CID,SMILES,ACTIVITY,Mol_Wt,LogP,H_Donors,H_acceptors
330531,NaN,NaN,NaN,NaN,428.598,4.12742,0.0,4.0
330601,NaN,NaN,NaN,NaN,264.241,-1.38102,3.0,8.0
330637,NaN,NaN,NaN,NaN,167.252,2.16440,1.0,1.0
330649,NaN,NaN,NaN,NaN,304.346,2.42320,2.0,5.0
330678,NaN,NaN,NaN,NaN,426.494,4.00270,2.0,6.0

In [127]:
"""
tried this because concat was making an indexing issue. df4 works. 
df5 = df3.join(df_lipinski)

df5
"""

,PUBCHEM_SID,PUBCHEM_CID,SMILES,ACTIVITY,Mol_Wt,LogP,H_Donors,H_acceptors
0,85809444.0,44502369.0,C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=C...,Inactive,440.544,2.04450,2,6
1,85803164.0,44496302.0,C[C@@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=...,Inactive,664.806,4.61180,2,9
2,85808431.0,44501367.0,C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...,Inactive,440.544,2.04450,2,6
3,85804050.0,44497171.0,C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)C3=CC=C(C=C...,Inactive,664.806,4.61180,2,9
4,85811015.0,44503925.0,C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...,Inactive,440.544,2.04450,2,6
...,...,...,...,...,...,...,...,...
330768,49715596.0,24789663.0,CCOC(=O)N1CCN(CC1)C(=O)CNC(=O)C2=NN(C(=O)C3=CC...,Inactive,523.546,1.43340,1,9
330769,49828593.0,6879802.0,CC1=CC=C(O1)/C=N/NC(=O)C2=CC(=NC3=CC=CC=C32)C4...,Inactive,355.397,4.56712,1,4
330770,49726366.0,3188775.0,COC1=CC=C(C=C1)N(C(C2=CC=C(C=C2)O)C(=O)NCC3=CC...,Inactive,549.584,3.38200,4,8
330771,49718992.0,24790595.0,COC1=C(C(=C(C=C1)CN2CCC(CC2)N3C(=CC=N3)NC(=O)C...,Inactive,414.506,3.09450,1,7
330772,47204145.0,2974652.0,CCN1C2=C(C=C(C=C2)NC(=O)C3=CC=CC=C3Cl)N(C1=O)CC,Inactive,343.814,3.74850,1,4

In [128]:
df4.to_csv("eda1_data.csv")

In [130]:
Molecular weight < 500 Dalton
Octoanol-water partition coefficient (LogP) <5
Hydrogen bond donors < 5
Hydrogen bond acceptors < 10

test

In [139]:
c1 = 0
for i in df4['Mol_Wt']:
    if i > 500:
        c1 += 1
print("Mol wt outliers - " + str(c1))

c2 = 0
for i in df4['LogP']:
    if i > 5:
        c2 +=1 
print("logp outliers - " + str(c2))

c3 = 0
for i in df4['H_Donors']:
    if i > 5:
        c3 += 1
print("h_donors outliers - "+ str(c3))

c4 = 0
for i in df4['H_acceptors']:
    if i > 10:
        c4 += 1
print("h_acceptors outliers - " + str(c4))

Mol wt outliers - 54753
logp outliers - 23934
h_donors outliers - 486
h_acceptors outliers - 2141

In [142]:
"""
lipinski rule says three out of the 4 should be in the bounds. 
looking at the outlier numbers, Mol_wt, and logP values should be considered as the other ones are not significant.
Removing outliers. 
"""


df_trt = df4[(df4['Mol_Wt'] <= 500 ) & (df4['LogP'] <= 5)]

df_trt

,PUBCHEM_SID,PUBCHEM_CID,SMILES,ACTIVITY,Mol_Wt,LogP,H_Donors,H_acceptors
0,85809444.0,44502369.0,C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=C...,Inactive,440.544,2.04450,2,6
2,85808431.0,44501367.0,C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...,Inactive,440.544,2.04450,2,6
4,85811015.0,44503925.0,C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...,Inactive,440.544,2.04450,2,6
6,85810329.0,44503245.0,C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=C...,Inactive,440.544,2.04450,2,6
8,85805030.0,44498123.0,C[C@@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=...,Inactive,440.544,2.04450,2,6
...,...,...,...,...,...,...,...,...
330766,49728848.0,6498571.0,C1=CC(=CC=C1OCC(=O)NCCNC(=O)C2=NC=CN=C2)Cl,Inactive,334.763,1.05500,2,5
330767,49737533.0,24794231.0,CCCCC1=NC2=C(O1)C=CC(=C2)C(=O)NC(C)C3=CN(N=C3)C,Inactive,326.400,3.39490,1,5
330769,49828593.0,6879802.0,CC1=CC=C(O1)/C=N/NC(=O)C2=CC(=NC3=CC=CC=C32)C4...,Inactive,355.397,4.56712,1,4
330771,49718992.0,24790595.0,COC1=C(C(=C(C=C1)CN2CCC(CC2)N3C(=CC=N3)NC(=O)C...,Inactive,414.506,3.09450,1,7
330772,47204145.0,2974652.0,CCN1C2=C(C=C(C=C2)NC(=O)C3=CC=CC=C3Cl)N(C1=O)CC,Inactive,343.814,3.74850,1,4

In [144]:
df_trt.to_csv("eda1_data_final.csv")